VITE_BACKEND_URL=http://localhost:8000
VITE_FRONTEND_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=105760145216-7ub4ppuqp57j6anc608t3ke2r0pmk1md.apps.googleusercontent.com
VITE_CSRF_ENDPOINT=/api/v1/health/
