VITE_BACKEND_URL=https://fakhrulsojib.mooo.com
VITE_FRONTEND_URL=https://fakhrulsojib.mooo.com
VITE_GOOGLE_CLIENT_ID=105760145216-7ub4ppuqp57j6anc608t3ke2r0pmk1md.apps.googleusercontent.com
VITE_CSRF_ENDPOINT=/api/v1/health/
