# Kafka Configuration
KAFKA_BROKER=kafka:9093
KAFKA_TOPIC_RAW=raw_logs
KAFKA_RAW_LOG_TO_DB_CONSUMER_GROUP=raw_log_to_db_consumers

# Database Configuration
POSTGRES_HOST=db
POSTGRES_DB=fastapi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password69

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=you_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# JWT Configuration
JWT_SECRET=some_jwt_secret_key

# Logging Configs
LOG_LEVEL=INFO
LOG_FORMAT=json
LOG_DIR=logs
LOG_RETENTION_DAYS=30