# Kafka Configuration
KAFKA_BROKER=kafka:9093
KAFKA_TOPIC_RAW=raw_logs
KAFKA_RAW_LOG_TO_DB_CONSUMER_GROUP=raw_log_to_db_consumers

# Database Configuration
POSTGRES_HOST=db
POSTGRES_DB=fastapi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password69

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=you_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
#GOOGLE_LOGIN_SCREEN_LINK=https://accounts.google.com/o/oauth2/v2/auth?client_id=YOUR_CLIENT_ID&redirect_uri=http://localhost:8000/auth/google/callback&response_type=code&scope=email profile openid&access_type=offline&prompt=consent

# JWT Configuration
JWT_SECRET=some_jwt_secret_key

# Logging Configs
LOG_LEVEL=INFO
LOG_FORMAT=json
LOG_DIR=logs
LOG_RETENTION_DAYS=30