# Kafka Configuration
KAFKA_BROKER=kafka:9093
KAFKA_TOPIC_RAW=raw_logs
KAFKA_RAW_LOG_TO_DB_CONSUMER_GROUP=raw_log_to_db_consumers

# Database Configuration
POSTGRES_HOST=db
POSTGRES_DB=fastapi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password69

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=you_google_client_secret_here
GOOGLE_REDIRECT_URI=https://fakhrulsojib.mooo.com/auth/google/callback
#GOOGLE_LOGIN_SCREEN_LINK=https://accounts.google.com/o/oauth2/v2/auth?client_id=YOUR_CLIENT_ID&redirect_uri=https://fakhrulsojib.mooo.com/auth/google/callback&response_type=code&scope=email profile openid&access_type=offline&prompt=consent

# JWT Configuration
JWT_SECRET=59c9a98ff72100d444781971c59da3f69d14bfd2ff9df5aea1e1af188cd71a47

# CSRF Protection
CSRF_SECRET_KEY=your_csrf_secret_key_here
CSRF_TOKEN_EXPIRY=3600

# Logging Configs
LOG_LEVEL=INFO
LOG_FORMAT=json
LOG_DIR=logs
LOG_RETENTION_DAYS=30

# Frontend Configuration
FRONTEND_URL=https://fakhrulsojib.mooo.com
BACKEND_URL=https://fakhrulsojib.mooo.com
COOKIE_DOMAIN=fakhrulsojib.mooo.com
VITE_CSRF_ENDPOINT=/api/v1/health/
